/* || Global styles */
:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
  --color-light-purple: hsl(245, 83%, 68%);
  --font: "Red Hat Display", sans-serif;
}

body {
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || Order summary component styles */

.order-summary {
  max-width: 20.4375rem;
  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 0.25);
  border-radius: 1.25rem;
  overflow: hidden;
  text-align: center;
  margin: 1rem;
}

.order-summary__body {
  padding: 2rem 1.5rem;
}

.order-summary__title {
  color: var(--color-dark-blue);
  font-size: 1.375rem;
  font-weight: 900;
  line-height: 1.3232;
  margin-bottom: 1rem;
}

.order-summary__description {
  color: var(--color-desaturated-blue);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.6667;
  margin: 1rem 0.5rem 1.5rem;
}

.order-plan {
  background-color: var(--color-very-pale-blue);
  border-radius: 0.6875rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.32286;
}

.order-plan__type {
  color: var(--color-dark-blue);
  font-weight: 900;
  font-size: inherit;
}

.order-plan__price {
  color: var(--color-desaturated-blue);
  font-weight: 500;
}

.order-plan__link {
  color: var(--color-bright-blue);
  font-weight: 700;
  font-size: 0.8125rem;
  margin-left: auto;
}

.order-plan__link:hover {
  color: var(--color-light-purple);
  text-decoration: none;
}
